<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="EnginesConfiguration" type="SearchFight.Configuration.EnginesConfigSection, SearchFight" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <EnginesConfiguration>
    <Engines>
      <add engineName="Google"
           engineURL="https://www.google.com/search?q={0}"
           engineRegexPattern="&lt;div class=&quot;sd&quot; id=&quot;resultStats&quot;&gt;Cerca de (.*?) resultados&lt;/div&gt;"/>
      <add engineName="Bing"
           engineURL="https://www.bing.com/search?q={0}"
           engineRegexPattern="&lt;span class=&quot;sb_count&quot;&gt;(.*?) resultados&lt;/span&gt;"/>
    </Engines>
  </EnginesConfiguration>
</configuration>